.unit {
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.scrolling {
    max-width: 100vw;
    overflow-x: auto;
}
.link_add {
    border: 1px solid var(--silant-blue);
    border-radius: 3px;
    width: 130px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    /* color: var(--silant-yellow); */
}