.unit {
    background-color: #EBE6D6;
    min-width: 360px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top_string {
    /* margin: 0 20px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: #3d3d3d;
        cursor: pointer;
    }
    
}
.logo {
    width: 250px;
    height: 70px;
    background: url(../../public/images/Logotype-RGB.svg) no-repeat 0 20px; /* Параметры фона */
    background-size: 250px;
}
@media screen and (max-width: 1000px) {

    h2 {
        text-align: center;
    }
    .logo {
        width: 100px;
        background: url(../../public/images/Logotype.svg) no-repeat 0 0; /* Параметры фона */
        background-size: 100px;
    }
}