
@font-face {
  font-family: "PT_Astra_Sans"; 
  src: url("/fonts/PT_Astra_Sans/PT-Astra-Sans_Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

:root {
  font-family: PT_Astra_Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --silant-blue: #163E6C;
  --silant-red: #D20A11;
  --silant-yellow: #EBE6D6;
}

a {
  font-weight: 500;
  color: #3d3d3d;
  text-decoration: inherit;
}
a:hover {
  color: #D20A11;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
tbody.default tr {
  cursor: pointer;
}
tbody.default tr:nth-child(2n) {
  background: var(--silant-yellow);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
