div.modal_on {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}
div.modal_off {
    display: none;
}
.content {
    display: flex;
    flex-direction: column;
    background-color: var(--silant-yellow);
    width: 200px;
    min-height: 200px;
    font-size: 16px;
    padding: 15px;
}