.unit {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.scrolling {
    max-width: 100vw;
    overflow-x: auto;
}
.truncate {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
.search {
    display: flex;
}